fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
requests
google-auth
python-jose[cryptography]
passlib
email-validator
razorpay
slowapi
fastapi-cache2
redis
jinja2
alembic
